h2 = svc_record.game_mode.titlecase
.fs-3.mt-3 #{svc_record.win_percentage.round(1)}%
.text-muted Win Percentage
.fs-3.mt-3 = svc_record.kd_ratio.round(2)
.text-muted K/D Ratio
.fs-3.mt-3 = svc_record.games_played
.text-muted Games Played
